openapi: 3.0.3
info:
  title: App Store Server API
  version: 1.9.0
servers:
  - url: https://api.storekit-sandbox.itunes.apple.com/
    description: Sandbox
  - url: https://api.storekit.itunes.apple.com/
    description: Production
tags:
  - name: InApps
paths:
  /InApps/v1/history/{transactionId}:
    get:
      operationId: GetTransactionHistory
      tags:
        - InApps
      parameters:
        - name: transactionId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/TransactionId'
        - name: revision
          in: query
          schema:
            $ref: '#/components/schemas/Revision'
        - name: startDate
          in: query
          schema:
            $ref: '#/components/schemas/StartDate'
        - name: endDate
          in: query
          schema:
            $ref: '#/components/schemas/EndDate'
        - name: productId
          in: query
          schema:
            type: array
            items:
              $ref: '#/components/schemas/ProductId'
        - name: productType
          in: query
          schema:
            type: array
            items:
              $ref: '#/components/schemas/ProductType'
        - name: sort
          in: query
          schema:
            $ref: '#/components/schemas/Sort'
        - name: subscriptionGroupIdentifier
          in: query
          schema:
            type: array
            items:
              $ref: '#/components/schemas/SubscriptionGroupIdentifier'
        - name: inAppOwnershipType
          in: query
          schema:
            $ref: '#/components/schemas/InAppOwnershipType'
        - name: revoked
          in: query
          schema:
            type: boolean
        - name: excludeRevoked
          deprecated: true
          in: query
          schema:
            type: boolean
      responses:
        '200':
          description: _
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoryResponse'
        '400':
          description: _
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: _
        '404':
          description: _
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: _
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: _
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /InApps/v1/transactions/{transactionId}:
    get:
      operationId: GetTransactionInfo
      tags:
        - InApps
      parameters:
        - name: transactionId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/TransactionId'
      responses:
        '200':
          description: _
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionInfoResponse'
        '400':
          description: _
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: _
        '404':
          description: _
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: _
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: _
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /InApps/v1/subscriptions/{transactionId}:
    get:
      operationId: GetAllSubscriptionStatuses
      tags:
        - InApps
      parameters:
        - name: transactionId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/TransactionId'
        - name: status
          in: query
          schema:
            type: array
            items:
              $ref: '#/components/schemas/Status'
      responses:
        '200':
          description: _
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
        '400':
          description: _
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: _
        '404':
          description: _
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: _
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: _
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /InApps/v1/transactions/consumption/{transactionId}:
    summary: Send consumption information.
    put:
      operationId: SendConsumptionInformation
      tags:
        - InApps
      parameters:
        - name: transactionId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/TransactionId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConsumptionRequest'
      responses:
        '202':
          description: _
        '400':
          description: _
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: _
        '404':
          description: _
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: _
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: _
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /InApps/v1/lookup/{orderId}:
    get:
      operationId: LookUpOrderId
      tags:
        - InApps
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/OrderId'
      responses:
        '200':
          description: _
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderLookupResponse'
        '400':
          description: _
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: _
        '429':
          description: _
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: _
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /InApps/v2/refund/lookup/{transactionId}:
    get:
      operationId: GetRefundHistoryV2
      tags:
        - InApps
      parameters:
        - name: transactionId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/TransactionId'
        - name: revision
          in: query
          schema:
            $ref: '#/components/schemas/Revision'
      responses:
        '200':
          description: _
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefundHistoryResponse'
        '400':
          description: _
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: _
        '404':
          description: _
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: _
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: _
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /InApps/v1/refund/lookup/{originalTransactionId}:
    get:
      operationId: GetRefundHistoryV1
      tags:
        - InApps
      deprecated: true
      parameters:
        - name: originalTransactionId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/OriginalTransactionId'
      responses:
        '200':
          description: _
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefundLookupResponse'
        '400':
          description: _
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: _
        '404':
          description: _
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: _
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: _
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /InApps/v1/subscriptions/extend/{originalTransactionId}:
    put:
      operationId: ExtendSubscriptionRenewalDate
      tags:
        - InApps
      parameters:
        - name: originalTransactionId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/OriginalTransactionId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExtendRenewalDateRequest'
      responses:
        '200':
          description: _
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtendRenewalDateResponse'
        '400':
          description: _
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: _
        '403':
          description: _
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: _
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: _
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: _
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /InApps/v1/subscriptions/extend/mass/:
    post:
      operationId: ExtendSubscriptionRenewalDatesForAllActiveSubscribers
      tags:
        - InApps
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MassExtendRenewalDateRequest'
      responses:
        '200':
          description: _
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MassExtendRenewalDateResponse'
        '400':
          description: _
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: _
        '403':
          description: _
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: _
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: _
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: _
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /InApps/v1/subscriptions/extend/mass/{productId}/{requestIdentifier}:
    get:
      operationId: GetStatusOfSubscriptionRenewalDateExtensions
      tags:
        - InApps
      parameters:
        - name: productId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ProductId'
        - name: requestIdentifier
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/RequestIdentifier'
      responses:
        '200':
          description: _
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MassExtendRenewalDateStatusResponse'
        '400':
          description: _
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: _
        '429':
          description: _
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: _
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /InApps/v1/notifications/history:
    post:
      operationId: GetNotificationHistory
      tags:
        - InApps
      parameters:
        - name: paginationToken
          in: query
          schema:
            $ref: '#/components/schemas/PaginationToken'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotificationHistoryRequest'
      responses:
        '200':
          description: _
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationHistoryResponse'
        '400':
          description: _
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: _
        '404':
          description: _
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: _
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: _
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /InApps/v1/notifications/test:
    post:
      operationId: RequestTestNotification
      tags:
        - InApps
      responses:
        '200':
          description: _
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendTestNotificationResponse'
        '401':
          description: _
        '404':
          description: _
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: _
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: _
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /InApps/v1/notifications/test/{testNotificationToken}:
    get:
      operationId: GetTestNotificationStatus
      tags:
        - InApps
      parameters:
        - name: testNotificationToken
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/TestNotificationToken'
      responses:
        '200':
          description: _
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckTestNotificationResponse'
        '400':
          description: _
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: _
        '404':
          description: _
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: _
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: _
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  schemas:
    AccountTenure:
      type: integer
      format: int32
      enum:
        - 0
        - 1
        - 2
        - 3
        - 4
        - 5
        - 6
        - 7
      x-enum-varnames:
        - UNDECLARED
        - ZERO_TO_THREE_DAYS
        - THREE_DAYS_TO_TEN_DAYS
        - TEN_DAYS_TO_THIRTY_DAYS
        - THIRTY_DAYS_TO_NINETY_DAYS
        - NINETY_DAYS_TO_ONE_HUNDRED_EIGHTY_DAYS
        - ONE_HUNDRED_EIGHTY_DAYS_TO_THREE_HUNDRED_SIXTY_FIVE_DAYS
        - GREATER_THAN_THREE_HUNDRED_SIXTY_FIVE_DAYS
    AppAccountToken:
      type: string
      format: uuid
    AppAppleId:
      type: integer
      format: int64
    AttemptDate:
      type: string
      format: timestamp
    BundleId:
      type: string
    CheckTestNotificationResponse:
      type: object
      properties:
        sendAttempts:
          type: array
          items:
            $ref: '#/components/schemas/SendAttemptItem'
        signedPayload:
          $ref: '#/components/schemas/SignedPayload'
        firstSendAttemptResult:
          type: string
          deprecated: true
    Complete:
      type: boolean
    CompleteDate:
      type: string
      format: timestamp
    ConsumptionRequest:
      type: object
      properties:
        accountTenure:
          $ref: '#/components/schemas/AccountTenure'
        appAccountToken:
          $ref: '#/components/schemas/AppAccountToken'
        consumptionStatus:
          $ref: '#/components/schemas/ConsumptionStatus'
        customerConsented:
          $ref: '#/components/schemas/CustomerConsented'
        deliveryStatus:
          $ref: '#/components/schemas/DeliveryStatus'
        lifetimeDollarsPurchased:
          $ref: '#/components/schemas/LifetimeDollarsPurchased'
        lifetimeDollarsRefunded:
          $ref: '#/components/schemas/LifetimeDollarsRefunded'
        platform:
          $ref: '#/components/schemas/Platform'
        playTime:
          $ref: '#/components/schemas/PlayTime'
        sampleContentProvided:
          $ref: '#/components/schemas/SampleContentProvided'
        userStatus:
          $ref: '#/components/schemas/UserStatus'
      required:
        - accountTenure
        - appAccountToken
        - consumptionStatus
        - customerConsented
        - deliveryStatus
        - lifetimeDollarsPurchased
        - lifetimeDollarsRefunded
        - platform
        - playTime
        - sampleContentProvided
        - userStatus
    ConsumptionStatus:
      type: integer
      format: int32
      enum:
        - 0
        - 1
        - 2
        - 3
      x-enum-vernames:
       - UNDECLARED
       - NOT_CONSUMED
       - PARTIALLY_CONSUMED
       - FULLY_CONSUMED
    CustomerConsented:
      type: boolean
    DeliveryStatus:
      type: integer
      format: int32
      enum:
        - 0
        - 1
        - 2
        - 3
        - 4
        - 5
      x-enum-varnames:
       - DELIVERED_AND_WORKING_PROPERLY
       - DID_NOT_DELIVER_DUE_TO_QUALITY_ISSUE
       - DELIVERED_WRONG_ITEM
       - DID_NOT_DELIVER_DUE_TO_SERVER_OUTAGE
       - DID_NOT_DELIVER_DUE_TO_IN_GAME_CURRENCY_CHANGE
       - DID_NOT_DELIVER_FOR_OTHER_REASON
    EffectiveDate:
      type: string
      format: timestamp
    EndDate:
      type: string
      format: unix timestamp to millisecond
    Environment:
      type: string
    ErrorResponse:
      type: object
      properties:
        errorCode:
          type: integer
          format: int64
        errorMessage:
          type: string
      required:
        - errorCode
        - errorMessage
    ExtendByDays:
      type: integer
      format: int32
      minimum: 1
      maximum: 90
    ExtendReasonCode:
      type: integer
      format: int32
      enum:
        - 0
        - 1
        - 2
        - 3
      x-enum-varnames:
        - UNDECLARED
        - CUSTOMER_SATISFACTION
        - OTHER
        - SERVICE_ISSUE_OR_OUTAGE
    ExtendRenewalDateRequest:
      type: object
      properties:
        extendByDays:
          $ref: '#/components/schemas/ExtendByDays'
        extendReasonCode:
          $ref: '#/components/schemas/ExtendReasonCode'
        requestIdentifier:
          $ref: '#/components/schemas/RequestIdentifier'
      required:
        - extendByDays
        - extendReasonCode
        - requestIdentifier
    ExtendRenewalDateResponse:
      type: object
      properties:
        effectiveDate:
          $ref: '#/components/schemas/EffectiveDate'
        originalTransactionId:
          $ref: '#/components/schemas/OriginalTransactionId'
        success:
          $ref: '#/components/schemas/Success'
        webOrderLineItemId:
          $ref: '#/components/schemas/WebOrderLineItemId'
    FailedCount:
      type: integer
      format: int64
    HasMore:
      type: boolean
    HistoryResponse:
      type: object
      properties:
        appAppId:
          type: integer
          format: int64
        bundleId:
          type: string
        environment:
          type: string
          enum:
            - Production
            - Sandbox
        hasMore:
          type: boolean
        revision:
          type: string
        signedTransactions:
          type: array
          items:
            type: string
    InAppOwnershipType:
      type: string
      enum:
        - FAMILY_SHARED
        - PURCHASED
    JwsRenewalInfo:
      type: string
    JwsTransaction:
      type: string
    LastTransactionsItem:
      type: object
      properties:
        originalTransactionId:
          type: string
        status:
          $ref: '#/components/schemas/Status'
        signedRenewalInfo:
          $ref: '#/components/schemas/JwsRenewalInfo'
        signedTransactionInfo:
          $ref: '#/components/schemas/JwsTransaction'
    LifetimeDollarsPurchased:
      type: integer
      format: int32
      enum:
        - 0
        - 1
        - 2
        - 3
        - 4
        - 5
        - 6
        - 7
      x-enum-varnames:
        - UNDECLARED
        - ZERO_DOLLARS
        - ONE_CENT_TO_FORTY_NINE_DOLLARS_AND_NINETY_NINE_CENTS
        - FIFTY_DOLLARS_TO_NINETY_NINE_DOLLARS_AND_NINETY_NINE_CENTS
        - ONE_HUNDRED_DOLLARS_TO_FOUR_HUNDRED_NINETY_NINE_DOLLARS_AND_NINETY_NINE_CENTS
        - FIVE_HUNDRED_DOLLARS_TO_NINE_HUNDRED_NINETY_NINE_DOLLARS_AND_NINETY_NINE_CENTS
        - ONE_THOUSAND_DOLLARS_TO_ONE_THOUSAND_NINE_HUNDRED_NINETY_NINE_DOLLARS_AND_NINETY_NINE_CENTS
        - TWO_THOUSAND_DOLLARS_OR_GREATER
    LifetimeDollarsRefunded:
      type: integer
      format: int32
      enum:
        - 0
        - 1
        - 2
        - 3
        - 4
        - 6
        - 7
      x-enum-varnames:
        - UNDECLARED
        - ZERO_DOLLARS
        - ONE_CENT_TO_FORTY_NINE_DOLLARS_AND_NINETY_NINE_CENTS
        - FIFTY_DOLLARS_TO_NINETY_NINE_DOLLARS_AND_NINETY_NINE_CENTS
        - ONE_HUNDRED_DOLLARS_TO_FOUR_HUNDRED_NINETY_NINE_DOLLARS_AND_NINETY_NINE_CENTS
        - FIVE_HUNDRED_DOLLARS_TO_NINE_HUNDRED_NINETY_NINE_DOLLARS_AND_NINETY_NINE_CENTS
        - ONE_THOUSAND_DOLLARS_TO_ONE_THOUSAND_NINE_HUNDRED_NINETY_NINE_DOLLARS_AND_NINETY_NINE_CENTS
        - TWO_THOUSAND_DOLLARS_OR_GREATER
    MassExtendRenewalDateRequest:
      type: object
      properties:
        requestIdentifier:
          $ref: '#/components/schemas/RequestIdentifier'
        extendByDays:
          $ref: '#/components/schemas/ExtendByDays'
        extendReasonCode:
          $ref: '#/components/schemas/ExtendReasonCode'
        productId:
          $ref: '#/components/schemas/ProductId'
        storefrontCountryCodes:
          $ref: '#/components/schemas/StorefrontCountryCodes'
      required:
        - requestIdentifier
        - extendByDays
        - extendReasonCode
        - productId
    MassExtendRenewalDateResponse:
      type: object
      properties:
        requestIdentifier:
          $ref: '#/components/schemas/RequestIdentifier'
    MassExtendRenewalDateStatusResponse:
      type: object
      properties:
        requestIdentifier:
          $ref: '#/components/schemas/RequestIdentifier'
        complete:
          $ref: '#/components/schemas/Complete'
        completeDate:
          $ref: '#/components/schemas/CompleteDate'
        failedCount:
          $ref: '#/components/schemas/FailedCount'
        succeededCount:
          $ref: '#/components/schemas/SucceededCount'
    NotificationHistoryRequest:
      type: object
      properties:
        startDate:
          $ref: '#/components/schemas/StartDate'
        endDate:
          $ref: '#/components/schemas/EndDate'
        notificationType:
          $ref: '#/components/schemas/NotificationTypeV2'
        notificationSubtype:
          $ref: '#/components/schemas/NotificationSubtypeV2'
        onlyFailures:
          $ref: '#/components/schemas/OnlyFailures'
        transactionId:
          $ref: '#/components/schemas/TransactionId'
        originalTransactionId:
          type: string
          deprecated: true
      required:
        - startDate
        - endDate
    NotificationHistoryResponse:
      type: object
      properties:
        notificationHistory:
          type: array
          items:
            $ref: '#/components/schemas/NotificationHistoryResponseItem'
        hasMore:
          $ref: '#/components/schemas/HasMore'
        paginationToken:
          $ref: '#/components/schemas/PaginationToken'
    NotificationHistoryResponseItem:
      type: object
      properties:
        sendAttempts:
          type: array
          items:
            $ref: '#/components/schemas/SendAttemptItem'
        signedPayload:
          $ref: '#/components/schemas/SignedPayload'
        firstSendAttemptResult:
          type: string
          deprecated: true
    NotificationSubtypeV2:
      type: string
      enum:
        - ACCEPTED
        - AUTO_RENEW_DISABLED
        - AUTO_RENEW_ENABLED
        - BILLING_RECOVERY
        - BILLING_RETRY
        - DOWNGRADE
        - FAILURE
        - GRACE_PERIOD
        - INITIAL_BUY
        - PENDING
        - PRICE_INCREASE
        - PRODUCT_NOT_FOR_SALE
        - RESUBSCRIBE
        - SUMMARY
        - UPGRADE
        - VOLUNTARY
    NotificationTypeV2:
      type: string
      enum:
        - CONSUMPTION_REQUEST
        - DID_CHANGE_RENEWAL_PREF
        - DID_CHANGE_RENEWAL_STATUS
        - DID_FAIL_TO_RENEW
        - DID_RENEW
        - EXPIRED
        - GRACE_PERIOD_EXPIRED
        - OFFER_REDEEMED
        - PRICE_INCREASE
        - REFUND
        - REFUND_DECLINED
        - REFUND_REVERSED
        - RENEWAL_EXTENDED
        - RENEWAL_EXTENSION
        - REVOKE
        - SUBSCRIBED
        - TEST
    OnlyFailures:
      type: boolean
    OrderId:
      type: string
    OrderLookupResponse:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/OrderLookupStatus'
        signedTransactions:
          type: array
          items:
            $ref: '#/components/schemas/JwsTransaction'
    OrderLookupStatus:
      type: integer
      format: int32
      enum:
        - 0
        - 1
      x-enum-varnames:
        - VALID
        - INVALID
    OriginalTransactionId:
      type: string
    PaginationToken:
      type: string
    Platform:
      type: integer
      format: int32
      enum:
        - 0
        - 1
        - 2
      x-enum-varnames:
        - UNDECLARED
        - APPLE
        - NON_APPLE
    PlayTime:
      type: integer
      format: int32
      enum:
        - 0
        - 1
        - 2
        - 3
        - 4
        - 5
        - 6
        - 7
      x-enum-varnames:
        - UNDECLARED
        - ZERO_TO_FIVE_MINUTES
        - FIVE_TO_SIXTY_MINUTES
        - ONE_TO_SIX_HOURS
        - SIX_HOURS_TO_TWENTY_FOUR_HOURS
        - ONE_DAY_TO_FOUR_DAYS
        - FOUR_DAYS_TO_SIXTEEN_DAYS
        - OVER_SIXTEEN_DAYS
    ProductId:
      type: string
    ProductType:
      type: string
      enum:
        - AUTO_RENEWABLE
        - NON_RENEWABLE
        - CONSUMABLE
        - NON_CONSUMABLE
    RefundHistoryResponse:
      type: object
      properties:
        hasMore:
          $ref: '#/components/schemas/HasMore'
        revision:
          $ref: '#/components/schemas/Revision'
        signedTransactions:
          type: array
          items:
            $ref: '#/components/schemas/JwsTransaction'
    RefundLookupResponse:
      deprecated: true
      type: object
      properties:
        signedTransactions:
          type: array
          items:
            $ref: '#/components/schemas/JwsTransaction'
    RequestIdentifier:
      type: string
      maxLength: 128
    Revision:
      type: string
    SampleContentProvided:
      type: boolean
    SendAttemptItem:
      type: object
      properties:
        attemptDate:
          $ref: '#/components/schemas/AttemptDate'
        sendAttemptResult:
          $ref: '#/components/schemas/SendAttemptResult'
    SendAttemptResult:
      type: string
      enum:
        - SUCCESS
        - CIRCULAR_REDIRECT
        - INVALID_RESPONSE
        - NO_RESPONSE
        - OTHER
        - PREMATURE_CLOSE
        - SOCKET_ISSUE
        - TIMED_OUT
        - TLS_ISSUE
        - UNSUCCESSFUL_HTTP_RESPONSE_CODE
        - UNSUPPORTED_CHARSET
    SendTestNotificationResponse:
      type: object
      properties:
        testNotificationToken:
          $ref: '#/components/schemas/TestNotificationToken'
    SignedPayload:
      type: string
    Sort:
      type: string
      enum:
        - ASCENDING
        - DESCENDING
    StartDate:
      type: string
      format: unix timestamp to millisecond
    Status:
      type: integer
      format: int32
      enum:
        - 1
        - 2
        - 3
        - 4
        - 5
      x-enum-varnames:
        - ACTIVE
        - EXPIRED
        - BILLING_RETRY
        - BILLING_GRACE_PERIOD
        - REVOKED
    StatusResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/SubscriptionGroupIdentifierItem'
        environment:
          $ref: '#/components/schemas/Environment'
        appAppleId:
          $ref: '#/components/schemas/AppAppleId'
        bundleId:
          $ref: '#/components/schemas/BundleId'
    StorefrontCountryCode:
      type: string
    StorefrontCountryCodes:
      type: array
      items:
        $ref: '#/components/schemas/StorefrontCountryCode'
    SubscriptionGroupIdentifier:
      type: string
    SubscriptionGroupIdentifierItem:
      type: object
      properties:
        subscriptionGroupIdentifier:
          $ref: '#/components/schemas/SubscriptionGroupIdentifier'
        lastTransactions:
          type: array
          items:
            $ref: '#/components/schemas/LastTransactionsItem'
    SucceededCount:
      type: integer
      format: int64
    Success:
      type: boolean
    TestNotificationToken:
      type: string
    TransactionId:
      type: string
    TransactionInfoResponse:
      type: object
      properties:
        signedTransactionInfo:
          type: string
    UserStatus:
      type: integer
      format: int32
      enum:
        - 0
        - 1
        - 2
        - 3
        - 4
      x-enum-varnames:
        - UNDECLARED
        - ACTIVE
        - SUSPENDED
        - TERMINATED
        - LIMITED_ACCESS
    WebOrderLineItemId:
      type: string
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
security:
  - BearerAuth: []
