openapi: 3.0.3
info:
  title: App Store Server API
  version: 1.9.0
servers:
  - url: https://api.storekit-sandbox.itunes.apple.com/
    description: Sandbox
  - url: https://api.storekit.itunes.apple.com/
    description: Production
tags:
  - name: InApps
paths:
  /inApps/v1/history/{transactionId}:
    get:
      operationId: GetTransactionHistory
      tags:
        - InApps
      parameters:
        - name: transactionId
          in: path
          required: true
          schema:
            type: string
        - name: revision
          in: query
          schema:
            type: string
        - name: startDate
          in: query
          schema:
            type: integer
            format: int64
        - name: endDate
          in: query
          schema:
            type: integer
            format: int64
        - name: productId
          in: query
          schema:
            type: array
            items:
              type: string
        - name: productType
          in: query
          schema:
            type: array
            items:
              $ref: '#/components/schemas/TypeProduct'
        - name: sort
          in: query
          schema:
            type: string
        - name: subscriptionGroupIdentifier
          in: query
          schema:
            type: array
            items:
              type: string
        - name: inAppOwnershipType
          in: query
          schema:
            $ref: '#/components/schemas/InAppOwnershipType'
        - name: revoked
          in: query
          schema:
            type: boolean
      responses:
        '200':
          description: _
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoryResponse'
        '400':
          description: _
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
        '401':
          description: _
        '404':
          description: _
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
        '429':
          description: _
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
        '500':
          description: _
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
  /inApps/v1/transactions/{transactionId}:
    get:
      operationId: GetTransactionInfo
      tags:
        - InApps
      parameters:
        - name: transactionId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: _
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionInfoResponse'
        '400':
          description: _
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
        '401':
          description: _
        '404':
          description: _
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
        '429':
          description: _
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
        '500':
          description: _
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
  /inApps/v1/subscriptions/{transactionId}:
    get:
      operationId: GetAllSubscriptionStatuses
      tags:
        - InApps
      parameters:
        - name: transactionId
          in: path
          required: true
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: array
            items:
              $ref: '#/components/schemas/Status'
      responses:
        '200':
          description: _
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
        '400':
          description: _
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
        '401':
          description: _
        '404':
          description: _
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
        '429':
          description: _
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
        '500':
          description: _
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
  /inApps/v1/transactions/consumption/{transactionId}:
    summary: Send consumption information.
    put:
      operationId: SendConsumptionInformation
      tags:
        - InApps
      parameters:
        - name: transactionId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConsumptionRequest'
      responses:
        '202':
          description: _
        '400':
          description: _
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
        '401':
          description: _
        '404':
          description: _
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
        '429':
          description: _
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
        '500':
          description: _
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
  /inApps/v1/lookup/{orderId}:
    get:
      operationId: LookUpOrderId
      tags:
        - InApps
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: _
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderLookupResponse'
        '400':
          description: _
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
        '401':
          description: _
        '429':
          description: _
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
        '500':
          description: _
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
  /inApps/v2/refund/lookup/{transactionId}:
    get:
      operationId: GetRefundHistoryV2
      tags:
        - InApps
      parameters:
        - name: transactionId
          in: path
          required: true
          schema:
            type: string
        - name: revision
          in: query
          schema:
            type: string
      responses:
        '200':
          description: _
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefundHistoryResponse'
        '400':
          description: _
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
        '401':
          description: _
        '404':
          description: _
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
        '429':
          description: _
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
        '500':
          description: _
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
  /inApps/v1/subscriptions/extend/{originalTransactionId}:
    put:
      operationId: ExtendSubscriptionRenewalDate
      tags:
        - InApps
      parameters:
        - name: originalTransactionId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExtendRenewalDateRequest'
      responses:
        '200':
          description: _
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtendRenewalDateResponse'
        '400':
          description: _
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
        '401':
          description: _
        '403':
          description: _
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
        '404':
          description: _
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
        '429':
          description: _
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
        '500':
          description: _
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
  /inApps/v1/subscriptions/extend/mass/:
    post:
      operationId: ExtendSubscriptionRenewalDatesForAllActiveSubscribers
      tags:
        - InApps
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MassExtendRenewalDateRequest'
      responses:
        '200':
          description: _
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MassExtendRenewalDateResponse'
        '400':
          description: _
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
        '401':
          description: _
        '403':
          description: _
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
        '404':
          description: _
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
        '429':
          description: _
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
        '500':
          description: _
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
  /inApps/v1/subscriptions/extend/mass/{productId}/{requestIdentifier}:
    get:
      operationId: GetStatusOfSubscriptionRenewalDateExtensions
      tags:
        - InApps
      parameters:
        - name: productId
          in: path
          required: true
          schema:
            type: string
        - name: requestIdentifier
          in: path
          required: true
          schema:
            type: string
            maxLength: 128
      responses:
        '200':
          description: _
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MassExtendRenewalDateStatusResponse'
        '400':
          description: _
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
        '401':
          description: _
        '429':
          description: _
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
        '500':
          description: _
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
  /inApps/v1/notifications/history:
    post:
      operationId: GetNotificationHistory
      tags:
        - InApps
      parameters:
        - name: paginationToken
          in: query
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotificationHistoryRequest'
      responses:
        '200':
          description: _
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationHistoryResponse'
        '400':
          description: _
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
        '401':
          description: _
        '404':
          description: _
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
        '429':
          description: _
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
        '500':
          description: _
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
  /inApps/v1/notifications/test:
    post:
      operationId: RequestTestNotification
      tags:
        - InApps
      responses:
        '200':
          description: _
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendTestNotificationResponse'
        '401':
          description: _
        '404':
          description: _
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
        '429':
          description: _
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
        '500':
          description: _
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
  /inApps/v1/notifications/test/{testNotificationToken}:
    get:
      operationId: GetTestNotificationStatus
      tags:
        - InApps
      parameters:
        - name: testNotificationToken
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: _
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckTestNotificationResponse'
        '400':
          description: _
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
        '401':
          description: _
        '404':
          description: _
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
        '429':
          description: _
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
        '500':
          description: _
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
components:
  schemas:
    AccountTenure:
      type: integer
      format: int32
      enum:
        - 0
        - 1
        - 2
        - 3
        - 4
        - 5
        - 6
        - 7
      x-enum-varnames:
        - UNDECLARED
        - ZERO_TO_THREE_DAYS
        - THREE_DAYS_TO_TEN_DAYS
        - TEN_DAYS_TO_THIRTY_DAYS
        - THIRTY_DAYS_TO_NINETY_DAYS
        - NINETY_DAYS_TO_ONE_HUNDRED_EIGHTY_DAYS
        - ONE_HUNDRED_EIGHTY_DAYS_TO_THREE_HUNDRED_SIXTY_FIVE_DAYS
        - GREATER_THAN_THREE_HUNDRED_SIXTY_FIVE_DAYS
    AppTransaction:
      type: object
      properties:
        receiptType:
          type: string
        appAppleId:
          type: integer
          format: int64
        bundleId:
          type: string
        applicationVerson:
          type: string
        versionExternalIdentifier:
          type: integer
          format: int64
        receiptCreationDate:
          type: integer
          format: int64
        originalPurchaseDate:
          type: integer
          format: int64
        originalApplicationVersion:
          type: string
        deviceVerification:
          type: string
        deviceVerificationNonce:
          type: string
          format: uuid
        preorderDate:
          type: integer
          format: int64
    AutoRenewStatus:
      type: integer
      format: int32
      enum:
        - 0
        - 1
      x-enum-varnames:
        - RENEWAL_OFF
        - RENEWAL_ON
    CheckTestNotificationResponse:
      type: object
      properties:
        sendAttempts:
          type: array
          items:
            $ref: '#/components/schemas/SendAttemptItem'
        signedPayload:
          type: string
    ConsumptionRequest:
      type: object
      properties:
        accountTenure:
          $ref: '#/components/schemas/AccountTenure'
        appAccountToken:
          type: string
          format: uuid
        consumptionStatus:
          $ref: '#/components/schemas/ConsumptionStatus'
        customerConsented:
          type: boolean
        deliveryStatus:
          $ref: '#/components/schemas/DeliveryStatus'
        lifetimeDollarsPurchased:
          $ref: '#/components/schemas/LifetimeDollarsPurchased'
        lifetimeDollarsRefunded:
          $ref: '#/components/schemas/LifetimeDollarsRefunded'
        platform:
          $ref: '#/components/schemas/Platform'
        playTime:
          $ref: '#/components/schemas/PlayTime'
        sampleContentProvided:
          type: boolean
        userStatus:
          $ref: '#/components/schemas/UserStatus'
      required:
        - accountTenure
        - appAccountToken
        - consumptionStatus
        - customerConsented
        - deliveryStatus
        - lifetimeDollarsPurchased
        - lifetimeDollarsRefunded
        - platform
        - playTime
        - sampleContentProvided
        - userStatus
    ConsumptionStatus:
      type: integer
      format: int32
      enum:
        - 0
        - 1
        - 2
        - 3
      x-enum-varnames:
       - UNDECLARED
       - NOT_CONSUMED
       - PARTIALLY_CONSUMED
       - FULLY_CONSUMED
    Data:
      type: object
      properties:
        environment:
          $ref: '#/components/schemas/Environment'
        appAppleId:
          type: integer
          format: int64
        bundleId:
          type: string
        bundleVersion:
          type: string
        signedTransactionInfo:
          type: string
        status:
          $ref: '#/components/schemas/Status'
    DeliveryStatus:
      type: integer
      format: int32
      enum:
        - 0
        - 1
        - 2
        - 3
        - 4
        - 5
      x-enum-varnames:
       - DELIVERED_AND_WORKING_PROPERLY
       - DID_NOT_DELIVER_DUE_TO_QUALITY_ISSUE
       - DELIVERED_WRONG_ITEM
       - DID_NOT_DELIVER_DUE_TO_SERVER_OUTAGE
       - DID_NOT_DELIVER_DUE_TO_IN_GAME_CURRENCY_CHANGE
       - DID_NOT_DELIVER_FOR_OTHER_REASON
    Environment:
      type: string
      enum:
        - Sandbox
        - Production
        - Xcode
        - LocalTesting
      x-enum-varnames:
        - SANDBOX
        - PRODUCTION
        - XCODE
        - LOCAL_TESTING
    ErrorPayload:
      type: object
      properties:
        errorCode:
          type: integer
          format: int64
        errorMessage:
          type: string
      required:
        - errorCode
        - errorMessage
    ExpirationIntent:
      type: integer
      format: int32
      enum:
        - 1
        - 2
        - 3
        - 4
        - 5
      x-enum-varnames:
        - CUSTOMER_CANCELLED
        - BILLING_ERROR
        - CUSTOMER_DID_NOT_CONSENT_TO_PRICE_INCREASE
        - PRODUCT_NOT_AVAILABLE
        - OTHER
    ExtendReasonCode:
      type: integer
      format: int32
      enum:
        - 0
        - 1
        - 2
        - 3
      x-enum-varnames:
        - UNDECLARED
        - CUSTOMER_SATISFACTION
        - OTHER
        - SERVICE_ISSUE_OR_OUTAGE
    ExtendRenewalDateRequest:
      type: object
      properties:
        extendByDays:
          type: integer
          format: int32
          minimum: 1
          maximum: 90
        extendReasonCode:
          $ref: '#/components/schemas/ExtendReasonCode'
        requestIdentifier:
          type: string
          maxLength: 128
      required:
        - extendByDays
        - extendReasonCode
        - requestIdentifier
    ExtendRenewalDateResponse:
      type: object
      properties:
        effectiveDate:
          type: integer
          format: int64
        originalTransactionId:
          type: string
        success:
          type: boolean
        webOrderLineItemId:
          type: string
    FirstSendAttemptResult:
      type: string
      enum:
        - SUCCESS
        - TIMED_OUT
        - TLS_ISSUE
        - CIRCULAR_REDIRECT
        - NO_RESPONSE
        - SOCKET_ISSUE
        - UNSUPPORTED_CHARSET
        - INVALID_RESPONSE
        - PREMATURE_CLOSE
        - UNSUCCESSFUL_HTTP_RESPONSE_CODE
        - OTHER
      x-enum-varnames:
        - SUCCESS
        - TIMED_OUT
        - TLS_ISSUE
        - CIRCULAR_REDIRECT
        - NO_RESPONSE
        - SOCKET_ISSUE
        - UNSUPPORTED_CHARSET
        - INVALID_RESPONSE
        - PREMATURE_CLOSE
        - UNSUCCESSFUL_HTTP_RESPONSE_CODE
        - OTHER
    HistoryResponse:
      type: object
      properties:
        revision:
          type: string
        hasMore:
          type: boolean
        bundleId:
          type: string
        appAppleId:
          type: integer
          format: int64
        environment:
          $ref: '#/components/schemas/Environment'
        signedTransactions:
          type: array
          items:
            type: string
    InAppOwnershipType:
      type: string
      enum:
        - FAMILY_SHARED
        - PURCHASED
      x-enum-varnames:
        - FAMILY_SHARED
        - PURCHASED
    JwsRenewalInfoDecodedPayload:
      type: object
      properties:
        expirationIntent:
          type: integer
          format: int32
        originalTransactionId:
          type: string
        autoRenewProductId:
          type: string
        productId:
          type: string
        autoRenewStatus:
          $ref: '#/components/schemas/AutoRenewStatus'
        isInBillingRetryPeriod:
          type: boolean
        priceIncreaseStatus:
          $ref: '#/components/schemas/PriceIncreaseStatus'
        gracePeriodExpiresDate:
          type: integer
          format: int64
        offerType:
          $ref: '#/components/schemas/OfferType'
        offerIdentifier:
          type: string
        signedDate:
          type: integer
          format: int64
        environment:
          $ref: '#/components/schemas/Environment'
        recentSubscriptionStartDate:
          type: integer
          format: int64
        renewalDate:
          type: integer
          format: int64
    JwsTransactionDecodedPayload:
      type: object
      properties:
        originalTransactionId:
          type: string
        transactionId:
          type: string
        webOrderLineItemId:
          type: string
        bundleId:
          type: string
        productId:
          type: string
        subscriptionGroupIdentifier:
          type: string
        purchaseDate:
          type: integer
          format: int64
        originalPurchaseDate:
          type: integer
          format: int64
        expiredDate:
          type: integer
          format: int64
        quantity:
          type: integer
          format: int32
        type:
          $ref: '#/components/schemas/TypeProduct'
        appAccountToken:
          type: string
          format: uuid
        inAppOwnershipType:
          $ref: '#/components/schemas/InAppOwnershipType'
        signedDate:
          type: integer
          format: int64
        revocationReason:
          $ref: '#/components/schemas/RevocationReason'
        revocationDate:
          type: integer
          format: int64
        isUpgraded:
          type: boolean
        offerType:
          $ref: '#/components/schemas/OfferType'
        offerIdentifier:
          type: string
        environment:
          $ref: '#/components/schemas/Environment'
        storefront:
          type: string
        storefrontId:
          type: string
        transactionReason:
          $ref: '#/components/schemas/TransactionReason'
        price:
          type: integer
          format: int32
        currency:
          type: string
        offerDiscountType:
          $ref: '#/components/schemas/OfferDiscountType'
    LastTransactionsItem:
      type: object
      properties:
        originalTransactionId:
          type: string
        status:
          $ref: '#/components/schemas/Status'
        signedRenewalInfo:
          type: string
        signedTransactionInfo:
          type: string
    LifetimeDollarsPurchased:
      type: integer
      format: int32
      enum:
        - 0
        - 1
        - 2
        - 3
        - 4
        - 5
        - 6
        - 7
      x-enum-varnames:
        - UNDECLARED
        - ZERO_DOLLARS
        - ONE_CENT_TO_FORTY_NINE_DOLLARS_AND_NINETY_NINE_CENTS
        - FIFTY_DOLLARS_TO_NINETY_NINE_DOLLARS_AND_NINETY_NINE_CENTS
        - ONE_HUNDRED_DOLLARS_TO_FOUR_HUNDRED_NINETY_NINE_DOLLARS_AND_NINETY_NINE_CENTS
        - FIVE_HUNDRED_DOLLARS_TO_NINE_HUNDRED_NINETY_NINE_DOLLARS_AND_NINETY_NINE_CENTS
        - ONE_THOUSAND_DOLLARS_TO_ONE_THOUSAND_NINE_HUNDRED_NINETY_NINE_DOLLARS_AND_NINETY_NINE_CENTS
        - TWO_THOUSAND_DOLLARS_OR_GREATER
    LatestReceiptInfo:
      type: object
      properties:
        app_account_token:
          type: string
        cancellation_date:
          type: string
        cancellation_date_ms:
          type: integer
          format: int64
        cancellation_date_pst:
          type: string
        cancellation_reason:
          type: string
          enum:
            - 0
            - 1
          x-enum-varnames:
            - OTHER
            - ACTUAL
        expires_date:
          type: string
        expires_date_ms:
          type: integer
          format: int64
        expires_date_pst:
          type: string
        in_app_ownership_type:
          type: string
          enum:
            - FAMILY_SHARED
            - PURCHASED
          x-enum-varnames:
            - FAMILY_SHARED
            - PURCHASED
        is_in_intro_offer_period:
          type: boolean
        is_trial_period:
          type: boolean
        is_upgraded:
          type: boolean
        offer_code_ref_name:
          type: string
        original_purchase_date:
          type: string
        original_purchase_date_ms:
          type: integer
          format: int64
        original_purchase_date_pst:
          type: string
        original_transaction_id:
          type: string
        promotional_offer_id:
          type: string
        product_id:
          type: string
        purchase_date:
          type: string
        purchase_date_ms:
          type: integer
          format: int64
        purchase_date_pst:
          type: string
        quantity:
          type: integer
          format: int32
          minimum: 1
          maximum: 10
        subscription_group_identifier:
          type: string
        transaction_id:
          type: string
        web_order_line_item_id:
          type: string
    LifetimeDollarsRefunded:
      type: integer
      format: int32
      enum:
        - 0
        - 1
        - 2
        - 3
        - 4
        - 6
        - 7
      x-enum-varnames:
        - UNDECLARED
        - ZERO_DOLLARS
        - ONE_CENT_TO_FORTY_NINE_DOLLARS_AND_NINETY_NINE_CENTS
        - FIFTY_DOLLARS_TO_NINETY_NINE_DOLLARS_AND_NINETY_NINE_CENTS
        - ONE_HUNDRED_DOLLARS_TO_FOUR_HUNDRED_NINETY_NINE_DOLLARS_AND_NINETY_NINE_CENTS
        - FIVE_HUNDRED_DOLLARS_TO_NINE_HUNDRED_NINETY_NINE_DOLLARS_AND_NINETY_NINE_CENTS
        - ONE_THOUSAND_DOLLARS_TO_ONE_THOUSAND_NINE_HUNDRED_NINETY_NINE_DOLLARS_AND_NINETY_NINE_CENTS
        - TWO_THOUSAND_DOLLARS_OR_GREATER
    MassExtendRenewalDateRequest:
      type: object
      properties:
        requestIdentifier:
          type: string
          maxLength: 128
        extendByDays:
          type: integer
          format: int32
          minimum: 1
          maximum: 90
        extendReasonCode:
          $ref: '#/components/schemas/ExtendReasonCode'
        productId:
          type: string
        storefrontCountryCodes:
          type: array
          items:
            type: string
      required:
        - requestIdentifier
        - extendByDays
        - extendReasonCode
        - productId
    MassExtendRenewalDateResponse:
      type: object
      properties:
        requestIdentifier:
          type: string
          maxLength: 128
    MassExtendRenewalDateStatusResponse:
      type: object
      properties:
        requestIdentifier:
          type: string
          maxLength: 128
        complete:
          type: boolean
        completeDate:
          type: integer
          format: int64
        failedCount:
          type: integer
          format: int64
        succeededCount:
          type: integer
          format: int64
    NotificationHistoryRequest:
      type: object
      properties:
        startDate:
          type: integer
          format: int64
        endDate:
          type: integer
          format: int64
        notificationType:
          $ref: '#/components/schemas/NotificationTypeV2'
        notificationSubtype:
          $ref: '#/components/schemas/Subtype'
        onlyFailures:
          type: boolean
        transactionId:
          type: string
      required:
        - startDate
        - endDate
    NotificationHistoryResponse:
      type: object
      properties:
        hasMore:
          type: boolean
        notificationHistory:
          type: array
          items:
            $ref: '#/components/schemas/NotificationHistoryResponseItem'
        paginationToken:
          type: string
    NotificationHistoryResponseItem:
      type: object
      properties:
        sendAttempts:
          type: array
          items:
            $ref: '#/components/schemas/SendAttemptItem'
        signedPayload:
          type: string
    NotificationTypeV1:
      deprecated: true
      type: string
      enum:
        - CANCEL
        - CONSUMPTION_REQUEST
        - DID_CHANGE_RENEWAL_PREF
        - DID_CHANGE_RENEWAL_STATUS
        - DID_FAIL_TO_RENEW
        - DID_RECOVER
        - DID_RENEW
        - INITIAL_BUY
        - INTERACTIVE_RENEWAL
        - PRICE_INCREASE_CONSENT
        - REFUND
        - REVOKE
        - RENEWAL
      x-enum-varnames:
        - CANCEL
        - CONSUMPTION_REQUEST
        - DID_CHANGE_RENEWAL_PREF
        - DID_CHANGE_RENEWAL_STATUS
        - DID_FAIL_TO_RENEW
        - DID_RECOVER
        - DID_RENEW
        - INITIAL_BUY
        - INTERACTIVE_RENEWAL
        - PRICE_INCREASE_CONSENT
        - REFUND
        - REVOKE
        - RENEWAL
    NotificationTypeV2:
      type: string
      enum:
        - CONSUMPTION_REQUEST
        - DID_CHANGE_RENEWAL_PREF
        - DID_CHANGE_RENEWAL_STATUS
        - DID_FAIL_TO_RENEW
        - DID_RENEW
        - EXPIRED
        - GRACE_PERIOD_EXPIRED
        - OFFER_REDEEMED
        - PRICE_INCREASE
        - REFUND
        - REFUND_DECLINED
        - REFUND_REVERSED
        - RENEWAL_EXTENDED
        - RENEWAL_EXTENSION
        - REVOKE
        - SUBSCRIBED
        - TEST
      x-enum-varnames:
        - CONSUMPTION_REQUEST
        - DID_CHANGE_RENEWAL_PREF
        - DID_CHANGE_RENEWAL_STATUS
        - DID_FAIL_TO_RENEW
        - DID_RENEW
        - EXPIRED
        - GRACE_PERIOD_EXPIRED
        - OFFER_REDEEMED
        - PRICE_INCREASE
        - REFUND
        - REFUND_DECLINED
        - REFUND_REVERSED
        - RENEWAL_EXTENDED
        - RENEWAL_EXTENSION
        - REVOKE
        - SUBSCRIBED
        - TEST
    OfferDiscountType:
      type: string
      enum:
        - FREE_TRIAL
        - PAY_AS_YOU_GO
        - PAY_UP_FRONT
      x-enum-varnames:
        - FREE_TRIAL
        - PAY_AS_YOU_GO
        - PAY_UP_FRONT
    OfferType:
      type: integer
      format: int32
      enum:
        - 1
        - 2
        - 3
      x-enum-varnames:
        - INTRODUCTORY_OFFER
        - PROMOTIONAL_OFFER
        - SUBSCRIPTION_OFFER_CODE
    Order:
      type: integer
      format: int32
      enum:
        - 0
        - 1
      x-enum-varnames:
        - ASCENDING
        - DESCENDING
    OrderLookupResponse:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/OrderLookupStatus'
        signedTransactions:
          type: array
          items:
            type: string
    OrderLookupStatus:
      type: integer
      format: int32
      enum:
        - 0
        - 1
      x-enum-varnames:
        - VALID
        - INVALID
    PendingRenewalInfo:
      deprecated: true
      type: object
      properties:
        auto_renew_product_id:
          type: string
        auto_renew_status:
          $ref: '#/components/schemas/AutoRenewStatus'
        expiration_intent:
          $ref: '#/components/schemas/ExpirationIntent'
        grace_period_expires_date:
          type: string
        grace_period_expires_date_ms:
          type: integer
          format: int64
        grace_period_expires_date_pst:
          type: string
        is_in_billing_retry_period:
          type: string
          enum:
            - 0
            - 1
          x-enum-varnames:
            - RENEW_SUBSCRIPTION_ATTEMPT
            - RENEW_SUBSCRIPTION_STOP
        offer_code_ref_name:
          type: string
        original_transaction_id:
          type: string
        price_consent_status:
          type: string
          enum:
            - 0
            - 1
          x-enum-varnames:
            - DEFAULT
            - CUSTOMER_CONSENTS
        product_id:
          type: string
        promotional_offer_id:
          type: string
        price_increase_status:
          type: string
          enum:
            - 0
            - 1
          x-enum-varnames:
            - PRICE_INCREASE_CONSENT_REQUESTED
            - PRICE_INCREASE_CONSENTED_OR_NOTIFIED
    Platform:
      type: integer
      format: int32
      enum:
        - 0
        - 1
        - 2
      x-enum-varnames:
        - UNDECLARED
        - APPLE
        - NON_APPLE
    PlayTime:
      type: integer
      format: int32
      enum:
        - 0
        - 1
        - 2
        - 3
        - 4
        - 5
        - 6
        - 7
      x-enum-varnames:
        - UNDECLARED
        - ZERO_TO_FIVE_MINUTES
        - FIVE_TO_SIXTY_MINUTES
        - ONE_TO_SIX_HOURS
        - SIX_HOURS_TO_TWENTY_FOUR_HOURS
        - ONE_DAY_TO_FOUR_DAYS
        - FOUR_DAYS_TO_SIXTEEN_DAYS
        - OVER_SIXTEEN_DAYS
    PriceIncreaseStatus:
      type: integer
      format: int32
      enum:
        - 0
        - 1
      x-enum-varnames:
        - CUSTOMER_HAS_NOT_RESPONDED
        - CUSTOMER_CONSENTED_OR_WAS_NOTIFIED_WITHOUT_NEEDING_CONSENT
    ProductType:
      type: integer
      format: int32
      enum:
        - 0
        - 1
        - 2
        - 3
      x-enum-varnames:
        - AUTO_RENEWABLE
        - NON_RENEWABLE
        - CONSUMABLE
        - NON_CONSUMABLE
    RefundHistoryResponse:
      type: object
      properties:
        hasMore:
          type: boolean
        revision:
          type: string
        signedTransactions:
          type: array
          items:
            type: string
    ResponseBodyV1:
      deprecated: true
      type: object
      properties:
        auto_renew_adam_id:
          type: integer
          format: int64
        auto_renew_product_id:
          type: string
        auto_renew_status:
          type: string
          enum:
            - true
            - false
          x-enum-varnames:
            - TRUE
            - FALSE
        auto_renew_status_change_date:
          type: string
        auto_renew_status_change_date_ms:
          type: integer
          format: int64
        auto_renew_status_change_date_pst:
          type: string
        bid:
          type: string
        bvrs:
          type: string
        deprecation:
          type: string
        environment:
          type: string
          enum:
            - Sandbox
            - PROD
          x-enum-varnames:
            - SANDBOX
            - PRODUCTION
        expiration_intent:
          $ref: '#/components/schemas/ExpirationIntent'
        notification_type:
          deprecated: true
          $ref: '#/components/schemas/NotificationTypeV1'
        original_transaction_id:
          type: integer
          format: int64
        password:
          type: string
        unified_receipt:
          $ref: '#/components/schemas/UnifiedReceipt'
    ResponseBodyV2:
      type: object
      properties:
        signedPayload:
          type: string
    ResponseBodyV2DecodedPayload:
      type: object
      properties:
        notificationType:
          $ref: '#/components/schemas/NotificationTypeV2'
        subtype:
          $ref: '#/components/schemas/Subtype'
        notificationUuid:
          type: string
          format: uuid
        data:
          $ref: '#/components/schemas/Data'
        version:
          type: string
        signedDate:
          type: integer
          format: int64
        summary:
          $ref: '#/components/schemas/Summary'
    RevocationReason:
      type: integer
      format: int32
      enum:
        - 0
        - 1
      x-enum-varnames:
        - REFUNDED_FOR_OTHER_REASON
        - REFUNDED_DUE_TO_ISSUE
    SendAttemptItem:
      type: object
      properties:
        attemptDate:
          type: integer
          format: int64
        sendAttemptResult:
          $ref: '#/components/schemas/SendAttemptResult'
    SendAttemptResult:
      type: string
      enum:
        - SUCCESS
        - CIRCULAR_REDIRECT
        - INVALID_RESPONSE
        - NO_RESPONSE
        - OTHER
        - PREMATURE_CLOSE
        - SOCKET_ISSUE
        - TIMED_OUT
        - TLS_ISSUE
        - UNSUCCESSFUL_HTTP_RESPONSE_CODE
        - UNSUPPORTED_CHARSET
      x-enum-varnames:
        - SUCCESS
        - CIRCULAR_REDIRECT
        - INVALID_RESPONSE
        - NO_RESPONSE
        - OTHER
        - PREMATURE_CLOSE
        - SOCKET_ISSUE
        - TIMED_OUT
        - TLS_ISSUE
        - UNSUCCESSFUL_HTTP_RESPONSE_CODE
        - UNSUPPORTED_CHARSET
    SendTestNotificationResponse:
      type: object
      properties:
        testNotificationToken:
          type: string
    Status:
      type: integer
      format: int32
      enum:
        - 1
        - 2
        - 3
        - 4
        - 5
      x-enum-varnames:
        - ACTIVE
        - EXPIRED
        - BILLING_RETRY
        - BILLING_GRACE_PERIOD
        - REVOKED
    StatusResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/SubscriptionGroupIdentifierItem'
        environment:
          $ref: '#/components/schemas/Environment'
        appAppleId:
          type: integer
          format: int64
        bundleId:
          type: string
    SubscriptionGroupIdentifierItem:
      type: object
      properties:
        subscriptionGroupIdentifier:
          type: string
        lastTransactions:
          type: array
          items:
            $ref: '#/components/schemas/LastTransactionsItem'
    Subtype:
      type: string
      enum:
        - ACCEPTED
        - AUTO_RENEW_DISABLED
        - AUTO_RENEW_ENABLED
        - BILLING_RECOVERY
        - BILLING_RETRY
        - DOWNGRADE
        - FAILURE
        - GRACE_PERIOD
        - INITIAL_BUY
        - PENDING
        - PRICE_INCREASE
        - PRODUCT_NOT_FOR_SALE
        - RESUBSCRIBE
        - SUMMARY
        - UPGRADE
        - VOLUNTARY
      x-enum-varnames:
        - ACCEPTED
        - AUTO_RENEW_DISABLED
        - AUTO_RENEW_ENABLED
        - BILLING_RECOVERY
        - BILLING_RETRY
        - DOWNGRADE
        - FAILURE
        - GRACE_PERIOD
        - INITIAL_BUY
        - PENDING
        - PRICE_INCREASE
        - PRODUCT_NOT_FOR_SALE
        - RESUBSCRIBE
        - SUMMARY
        - UPGRADE
        - VOLUNTARY
    Summary:
      type: object
      properties:
        environment:
          $ref: '#/components/schemas/Environment'
        appAppleId:
          type: integer
          format: int64
        bundleId:
          type: string
        productId:
          type: string
        requestIdentifier:
          type: string
        storefrontCountryCodes:
          type: array
          items:
            type: string
        succeededCount:
          type: integer
          format: int64
        failedCount:
          type: integer
          format: int64
    TransactionHistoryRequest:
      type: object
      properties:
        startDate:
          type: integer
          format: int64
        endDate:
          type: integer
          format: int64
        productIds:
          type: array
          items:
            type: string
        productTypes:
          type: array
          items:
            $ref: '#/components/schemas/ProductType'
        sort:
            $ref: '#/components/schemas/Order'
        subscriptionGroupIdentifiers:
          type: array
          items:
            type: string
        inAppOwnershipType:
          $ref: '#/components/schemas/InAppOwnershipType'
        revoked:
          type: boolean
    TransactionInfoResponse:
      type: object
      properties:
        signedTransactionInfo:
          type: string
    TransactionReason:
      type: string
      enum:
        - PURCHASE
        - RENEWAL
      x-enum-varnames:
        - PURCHASE
        - RENEWAL
    TypeProduct:
      type: string
      enum:
        - Auto-Renewable Subscription
        - Non-Consumable
        - Consumable
        - Non-Renewing Subscription
      x-enum-varnames:
        - AUTO_RENEWABLE_SUBSCRIPTION
        - NON_CONSUMABLE
        - CONSUMABLE
        - NON_RENEWING_SUBSCRIPTION
    UnifiedReceipt:
      type: object
      properties:
        environment:
          $ref: '#/components/schemas/Environment'
        latest_receipt:
          type: string
        latest_receipt_info:
          type: array
          items:
            $ref: '#/components/schemas/LatestReceiptInfo'
        pending_renewal_info:
          type: array
          items:
            $ref: '#/components/schemas/PendingRenewalInfo'
        status:
          type: integer
          format: int32
    UserStatus:
      type: integer
      format: int32
      enum:
        - 0
        - 1
        - 2
        - 3
        - 4
      x-enum-varnames:
        - UNDECLARED
        - ACTIVE
        - SUSPENDED
        - TERMINATED
        - LIMITED_ACCESS
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
security:
  - BearerAuth: []
